Repository robertfly/detection-engineer---translation-4ce9d6, changes with the owners that .github/CODEOWNERS names for each.
All owners: @platform-team, @security-team, @backend-team, @ml-team, @frontend-team, @qa-team

Add public-samples/detection-engineer---translation-4ce9d6/infrastructure/terraform/aws/cloudfront.tf
  infrastructure/terraform/aws/cloudfront.tf
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/infrastructure/terraform/aws/eks.tf
  infrastructure/terraform/aws/eks.tf
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/infrastructure/terraform/aws/elasticache.tf
  infrastructure/terraform/aws/elasticache.tf
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/infrastructure/terraform/aws/iam.tf
  infrastructure/terraform/aws/iam.tf
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/infrastructure/terraform/aws/kms.tf
  infrastructure/terraform/aws/kms.tf
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/infrastructure/terraform/aws/main.tf
  infrastructure/terraform/aws/main.tf
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/infrastructure/terraform/aws/outputs.tf
  infrastructure/terraform/aws/outputs.tf
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/infrastructure/terraform/aws/provider.tf
  infrastructure/terraform/aws/provider.tf
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/infrastructure/terraform/aws/rds.tf
  infrastructure/terraform/aws/rds.tf
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/infrastructure/terraform/aws/route53.tf
  infrastructure/terraform/aws/route53.tf
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/infrastructure/terraform/aws/s3.tf
  infrastructure/terraform/aws/s3.tf
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/infrastructure/terraform/aws/variables.tf
  infrastructure/terraform/aws/variables.tf
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/infrastructure/terraform/aws/vpc.tf
  infrastructure/terraform/aws/vpc.tf
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/infrastructure/terraform/modules/eks/main.tf
  infrastructure/terraform/modules/eks/main.tf
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/infrastructure/terraform/modules/eks/outputs.tf
  infrastructure/terraform/modules/eks/outputs.tf
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/infrastructure/terraform/modules/eks/variables.tf
  infrastructure/terraform/modules/eks/variables.tf
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/infrastructure/terraform/modules/rds/main.tf
  infrastructure/terraform/modules/rds/main.tf
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/infrastructure/terraform/modules/rds/outputs.tf
  infrastructure/terraform/modules/rds/outputs.tf
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/infrastructure/terraform/modules/rds/variables.tf
  infrastructure/terraform/modules/rds/variables.tf
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/src/backend/.dockerignore
  src/backend/.dockerignore
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/src/backend/.env.example
  src/backend/.env.example
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/src/backend/.eslintrc.json
  src/backend/.eslintrc.json
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/src/backend/.gitignore
  src/backend/.gitignore
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/src/backend/Dockerfile
  src/backend/Dockerfile
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/src/backend/README.md
  src/backend/README.md
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/src/backend/docker-compose.yml
  src/backend/docker-compose.yml
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/src/backend/api-gateway/Dockerfile
  src/backend/api-gateway/Dockerfile
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/src/backend/api-gateway/README.md
  src/backend/api-gateway/README.md
Owners: @backend-team, @security-team

Add public-samples/detection-engineer---translation-4ce9d6/src/backend/api-gateway/jest.config.ts
  src/backend/api-gateway/jest.config.ts
Owners: @backend-team, @security-team

Add public-samples/detection-engineer---translation-4ce9d6/src/backend/api-gateway/package.json
  src/backend/api-gateway/package.json
Owners: @backend-team, @security-team

Add public-samples/detection-engineer---translation-4ce9d6/src/backend/api-gateway/tsconfig.json
  src/backend/api-gateway/tsconfig.json
Owners: @backend-team, @security-team

Add public-samples/detection-engineer---translation-4ce9d6/src/backend/api-gateway/__tests__/auth/jwt.test.ts
  src/backend/api-gateway/__tests__/auth/jwt.test.ts
Owners: @qa-team

Add public-samples/detection-engineer---translation-4ce9d6/src/backend/api-gateway/__tests__/controllers/detection.test.ts
  src/backend/api-gateway/__tests__/controllers/detection.test.ts
Owners: @qa-team

Add public-samples/detection-engineer---translation-4ce9d6/src/backend/api-gateway/__tests__/controllers/github.test.ts
  src/backend/api-gateway/__tests__/controllers/github.test.ts
Owners: @qa-team

Add public-samples/detection-engineer---translation-4ce9d6/src/backend/api-gateway/__tests__/controllers/translation.test.ts
  src/backend/api-gateway/__tests__/controllers/translation.test.ts
Owners: @qa-team

Add public-samples/detection-engineer---translation-4ce9d6/src/backend/api-gateway/__tests__/middleware/auth.test.ts
  src/backend/api-gateway/__tests__/middleware/auth.test.ts
Owners: @qa-team

Add public-samples/detection-engineer---translation-4ce9d6/src/backend/api-gateway/__tests__/middleware/rateLimit.test.ts
  src/backend/api-gateway/__tests__/middleware/rateLimit.test.ts
Owners: @qa-team

Add public-samples/detection-engineer---translation-4ce9d6/src/backend/api-gateway/__tests__/routes/detection.test.ts
  src/backend/api-gateway/__tests__/routes/detection.test.ts
Owners: @qa-team

Add public-samples/detection-engineer---translation-4ce9d6/src/backend/api-gateway/__tests__/routes/github.test.ts
  src/backend/api-gateway/__tests__/routes/github.test.ts
Owners: @qa-team

Add public-samples/detection-engineer---translation-4ce9d6/src/backend/api-gateway/__tests__/routes/health.test.ts
  src/backend/api-gateway/__tests__/routes/health.test.ts
Owners: @qa-team

.github/CODEOWNERS:

* @platform-team

# GitHub configuration and workflow files
.github/* @platform-team @security-team

# Backend Services
src/backend/api-gateway/* @backend-team @security-team
src/backend/translation-service/* @ml-team @backend-team
src/backend/validation-service/* @backend-team @security-team

# Frontend Application
src/web/* @frontend-team

# Infrastructure and Deployment
infrastructure/* @platform-team @security-team
infrastructure/kubernetes/security/* @security-team

# Docker configurations
**/Dockerfile* @platform-team

# Terraform configurations
**/*.tf @platform-team

# Test files
**/*.test.* @qa-team

# Security-related configurations
**/security.* @security-team
