Repository robertfly/detection-engineer---translation-4ce9d6, changes with the owners that .github/CODEOWNERS names for each.
All owners: @platform-team, @security-team, @backend-team, @ml-team, @frontend-team, @qa-team

Add public-samples/detection-engineer---translation-4ce9d6/src/backend/api-gateway/__tests__/routes/translation.test.ts
  src/backend/api-gateway/__tests__/routes/translation.test.ts
Owners: @qa-team

Add public-samples/detection-engineer---translation-4ce9d6/src/backend/api-gateway/src/server.ts
  src/backend/api-gateway/src/server.ts
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/src/backend/api-gateway/src/auth/jwt.ts
  src/backend/api-gateway/src/auth/jwt.ts
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/src/backend/api-gateway/src/config/auth.ts
  src/backend/api-gateway/src/config/auth.ts
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/src/backend/api-gateway/src/config/database.ts
  src/backend/api-gateway/src/config/database.ts
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/src/backend/api-gateway/src/config/queue.ts
  src/backend/api-gateway/src/config/queue.ts
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/src/backend/api-gateway/src/config/redis.ts
  src/backend/api-gateway/src/config/redis.ts
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/src/backend/api-gateway/src/config/services.ts
  src/backend/api-gateway/src/config/services.ts
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/src/backend/api-gateway/src/controllers/detection.ts
  src/backend/api-gateway/src/controllers/detection.ts
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/src/backend/api-gateway/src/controllers/github.ts
  src/backend/api-gateway/src/controllers/github.ts
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/src/backend/api-gateway/src/controllers/health.ts
  src/backend/api-gateway/src/controllers/health.ts
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/src/backend/api-gateway/src/controllers/translation.ts
  src/backend/api-gateway/src/controllers/translation.ts
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/src/backend/api-gateway/src/interfaces/detection.ts
  src/backend/api-gateway/src/interfaces/detection.ts
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/src/backend/api-gateway/src/interfaces/github.ts
  src/backend/api-gateway/src/interfaces/github.ts
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/src/backend/api-gateway/src/interfaces/translation.ts
  src/backend/api-gateway/src/interfaces/translation.ts
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/src/backend/api-gateway/src/middleware/auth.ts
  src/backend/api-gateway/src/middleware/auth.ts
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/src/backend/api-gateway/src/middleware/error.ts
  src/backend/api-gateway/src/middleware/error.ts
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/src/backend/api-gateway/src/middleware/rateLimit.ts
  src/backend/api-gateway/src/middleware/rateLimit.ts
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/src/backend/api-gateway/src/middleware/validation.ts
  src/backend/api-gateway/src/middleware/validation.ts
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/src/backend/api-gateway/src/routes/detection.ts
  src/backend/api-gateway/src/routes/detection.ts
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/src/backend/api-gateway/src/routes/github.ts
  src/backend/api-gateway/src/routes/github.ts
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/src/backend/api-gateway/src/routes/health.ts
  src/backend/api-gateway/src/routes/health.ts
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/src/backend/api-gateway/src/routes/translation.ts
  src/backend/api-gateway/src/routes/translation.ts
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/src/backend/api-gateway/src/services/github.ts
  src/backend/api-gateway/src/services/github.ts
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/src/backend/api-gateway/src/services/queue.ts
  src/backend/api-gateway/src/services/queue.ts
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/src/backend/api-gateway/src/services/redis.ts
  src/backend/api-gateway/src/services/redis.ts
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/src/backend/api-gateway/src/utils/logger.ts
  src/backend/api-gateway/src/utils/logger.ts
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/src/backend/api-gateway/src/utils/metrics.ts
  src/backend/api-gateway/src/utils/metrics.ts
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/src/backend/api-gateway/src/validation/detection.ts
  src/backend/api-gateway/src/validation/detection.ts
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/src/backend/api-gateway/src/validation/github.ts
  src/backend/api-gateway/src/validation/github.ts
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/src/backend/api-gateway/src/validation/translation.ts
  src/backend/api-gateway/src/validation/translation.ts
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/src/backend/translation-service/Dockerfile
  src/backend/translation-service/Dockerfile
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/src/backend/translation-service/README.md
  src/backend/translation-service/README.md
Owners: @ml-team, @backend-team

Add public-samples/detection-engineer---translation-4ce9d6/src/backend/translation-service/pyproject.toml
  src/backend/translation-service/pyproject.toml
Owners: @ml-team, @backend-team

Add public-samples/detection-engineer---translation-4ce9d6/src/backend/translation-service/requirements.txt
  src/backend/translation-service/requirements.txt
Owners: @ml-team, @backend-team

Add public-samples/detection-engineer---translation-4ce9d6/src/backend/translation-service/setup.py
  src/backend/translation-service/setup.py
Owners: @ml-team, @backend-team

Add public-samples/detection-engineer---translation-4ce9d6/src/backend/translation-service/tests/__init__.py
  src/backend/translation-service/tests/__init__.py
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/src/backend/translation-service/tests/conftest.py
  src/backend/translation-service/tests/conftest.py
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/src/backend/translation-service/tests/test_formats/__init__.py
  src/backend/translation-service/tests/test_formats/__init__.py
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/src/backend/translation-service/tests/test_formats/test_crowdstrike.py
  src/backend/translation-service/tests/test_formats/test_crowdstrike.py
Owners: @platform-team

.github/CODEOWNERS:

* @platform-team

# GitHub configuration and workflow files
.github/* @platform-team @security-team

# Backend Services
src/backend/api-gateway/* @backend-team @security-team
src/backend/translation-service/* @ml-team @backend-team
src/backend/validation-service/* @backend-team @security-team

# Frontend Application
src/web/* @frontend-team

# Infrastructure and Deployment
infrastructure/* @platform-team @security-team
infrastructure/kubernetes/security/* @security-team

# Docker configurations
**/Dockerfile* @platform-team

# Terraform configurations
**/*.tf @platform-team

# Test files
**/*.test.* @qa-team

# Security-related configurations
**/security.* @security-team
