Repository robertfly/detection-engineer---translation-4ce9d6, changes with the owners that .github/CODEOWNERS names for each.
All owners: @platform-team, @security-team, @backend-team, @ml-team, @frontend-team, @qa-team

.github/CODEOWNERS:

* @platform-team

# GitHub configuration and workflow files
.github/* @platform-team @security-team

# Backend Services
src/backend/api-gateway/* @backend-team @security-team
src/backend/translation-service/* @ml-team @backend-team
src/backend/validation-service/* @backend-team @security-team

# Frontend Application
src/web/* @frontend-team

# Infrastructure and Deployment
infrastructure/* @platform-team @security-team
infrastructure/kubernetes/security/* @security-team

# Docker configurations
**/Dockerfile* @platform-team

# Terraform configurations
**/*.tf @platform-team

# Test files
**/*.test.* @qa-team

# Security-related configurations
**/security.* @security-team

Add public-samples/detection-engineer---translation-4ce9d6/src/backend/translation-service/translation_service/services/validation.py
  src/backend/translation-service/translation_service/services/validation.py
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/src/backend/translation-service/translation_service/utils/__init__.py
  src/backend/translation-service/translation_service/utils/__init__.py
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/src/backend/translation-service/translation_service/utils/logger.py
  src/backend/translation-service/translation_service/utils/logger.py
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/src/backend/translation-service/translation_service/utils/metrics.py
  src/backend/translation-service/translation_service/utils/metrics.py
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/src/backend/validation-service/Dockerfile
  src/backend/validation-service/Dockerfile
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/src/backend/validation-service/README.md
  src/backend/validation-service/README.md
Owners: @backend-team, @security-team

Add public-samples/detection-engineer---translation-4ce9d6/src/backend/validation-service/go.mod
  src/backend/validation-service/go.mod
Owners: @backend-team, @security-team

Add public-samples/detection-engineer---translation-4ce9d6/src/backend/validation-service/go.sum
  src/backend/validation-service/go.sum
Owners: @backend-team, @security-team

Add public-samples/detection-engineer---translation-4ce9d6/src/backend/validation-service/cmd/server/main.go
  src/backend/validation-service/cmd/server/main.go
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/src/backend/validation-service/internal/api/handlers/health.go
  src/backend/validation-service/internal/api/handlers/health.go
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/src/backend/validation-service/internal/api/handlers/validation.go
  src/backend/validation-service/internal/api/handlers/validation.go
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/src/backend/validation-service/internal/api/middleware/auth.go
  src/backend/validation-service/internal/api/middleware/auth.go
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/src/backend/validation-service/internal/api/middleware/logging.go
  src/backend/validation-service/internal/api/middleware/logging.go
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/src/backend/validation-service/internal/api/middleware/metrics.go
  src/backend/validation-service/internal/api/middleware/metrics.go
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/src/backend/validation-service/internal/api/router/router.go
  src/backend/validation-service/internal/api/router/router.go
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/src/backend/validation-service/internal/config/config.go
  src/backend/validation-service/internal/config/config.go
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/src/backend/validation-service/internal/models/detection.go
  src/backend/validation-service/internal/models/detection.go
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/src/backend/validation-service/internal/models/validation.go
  src/backend/validation-service/internal/models/validation.go
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/src/backend/validation-service/internal/services/validation/crowdstrike.go
  src/backend/validation-service/internal/services/validation/crowdstrike.go
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/src/backend/validation-service/internal/services/validation/kql.go
  src/backend/validation-service/internal/services/validation/kql.go
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/src/backend/validation-service/internal/services/validation/paloalto.go
  src/backend/validation-service/internal/services/validation/paloalto.go
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/src/backend/validation-service/internal/services/validation/qradar.go
  src/backend/validation-service/internal/services/validation/qradar.go
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/src/backend/validation-service/internal/services/validation/sigma.go
  src/backend/validation-service/internal/services/validation/sigma.go
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/src/backend/validation-service/internal/services/validation/splunk.go
  src/backend/validation-service/internal/services/validation/splunk.go
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/src/backend/validation-service/internal/services/validation/validation.go
  src/backend/validation-service/internal/services/validation/validation.go
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/src/backend/validation-service/internal/services/validation/yara.go
  src/backend/validation-service/internal/services/validation/yara.go
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/src/backend/validation-service/internal/services/validation/yaral.go
  src/backend/validation-service/internal/services/validation/yaral.go
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/src/backend/validation-service/pkg/logger/logger.go
  src/backend/validation-service/pkg/logger/logger.go
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/src/backend/validation-service/pkg/metrics/metrics.go
  src/backend/validation-service/pkg/metrics/metrics.go
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/src/backend/validation-service/pkg/utils/errors.go
  src/backend/validation-service/pkg/utils/errors.go
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/src/backend/validation-service/pkg/utils/helpers.go
  src/backend/validation-service/pkg/utils/helpers.go
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/src/web/.dockerignore
  src/web/.dockerignore
Owners: @frontend-team

Add public-samples/detection-engineer---translation-4ce9d6/src/web/.env.example
  src/web/.env.example
Owners: @frontend-team

Add public-samples/detection-engineer---translation-4ce9d6/src/web/.eslintrc.json
  src/web/.eslintrc.json
Owners: @frontend-team

Add public-samples/detection-engineer---translation-4ce9d6/src/web/.gitignore
  src/web/.gitignore
Owners: @frontend-team

Add public-samples/detection-engineer---translation-4ce9d6/src/web/.prettierrc
  src/web/.prettierrc
Owners: @frontend-team

Add public-samples/detection-engineer---translation-4ce9d6/src/web/Dockerfile
  src/web/Dockerfile
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/src/web/README.md
  src/web/README.md
Owners: @frontend-team

Add public-samples/detection-engineer---translation-4ce9d6/src/web/index.html
  src/web/index.html
Owners: @frontend-team

Add public-samples/detection-engineer---translation-4ce9d6/src/web/jest.config.ts
  src/web/jest.config.ts
Owners: @frontend-team
