Repository robertfly/detection-engineer---translation-4ce9d6, changes with the owners that .github/CODEOWNERS names for each.
All owners: @platform-team, @security-team, @backend-team, @ml-team, @frontend-team, @qa-team

.github/CODEOWNERS:

* @platform-team

# GitHub configuration and workflow files
.github/* @platform-team @security-team

# Backend Services
src/backend/api-gateway/* @backend-team @security-team
src/backend/translation-service/* @ml-team @backend-team
src/backend/validation-service/* @backend-team @security-team

# Frontend Application
src/web/* @frontend-team

# Infrastructure and Deployment
infrastructure/* @platform-team @security-team
infrastructure/kubernetes/security/* @security-team

# Docker configurations
**/Dockerfile* @platform-team

# Terraform configurations
**/*.tf @platform-team

# Test files
**/*.test.* @qa-team

# Security-related configurations
**/security.* @security-team

Add public-samples/detection-engineer---translation-4ce9d6/src/web/package.json
  src/web/package.json
Owners: @frontend-team

Add public-samples/detection-engineer---translation-4ce9d6/src/web/tsconfig.json
  src/web/tsconfig.json
Owners: @frontend-team

Add public-samples/detection-engineer---translation-4ce9d6/src/web/vite.config.ts
  src/web/vite.config.ts
Owners: @frontend-team

Add public-samples/detection-engineer---translation-4ce9d6/src/web/__tests__/components/auth/LoginForm.test.tsx
  src/web/__tests__/components/auth/LoginForm.test.tsx
Owners: @qa-team

Add public-samples/detection-engineer---translation-4ce9d6/src/web/__tests__/components/common/Button.test.tsx
  src/web/__tests__/components/common/Button.test.tsx
Owners: @qa-team

Add public-samples/detection-engineer---translation-4ce9d6/src/web/__tests__/components/common/FileUpload.test.tsx
  src/web/__tests__/components/common/FileUpload.test.tsx
Owners: @qa-team

Add public-samples/detection-engineer---translation-4ce9d6/src/web/__tests__/components/detection/DetectionEditor.test.tsx
  src/web/__tests__/components/detection/DetectionEditor.test.tsx
Owners: @qa-team

Add public-samples/detection-engineer---translation-4ce9d6/src/web/__tests__/components/github/RepoBrowser.test.tsx
  src/web/__tests__/components/github/RepoBrowser.test.tsx
Owners: @qa-team

Add public-samples/detection-engineer---translation-4ce9d6/src/web/__tests__/components/translation/TranslationForm.test.tsx
  src/web/__tests__/components/translation/TranslationForm.test.tsx
Owners: @qa-team

Add public-samples/detection-engineer---translation-4ce9d6/src/web/__tests__/hooks/useAuth.test.ts
  src/web/__tests__/hooks/useAuth.test.ts
Owners: @qa-team

Add public-samples/detection-engineer---translation-4ce9d6/src/web/__tests__/hooks/useDetection.test.ts
  src/web/__tests__/hooks/useDetection.test.ts
Owners: @qa-team

Add public-samples/detection-engineer---translation-4ce9d6/src/web/__tests__/hooks/useGithub.test.ts
  src/web/__tests__/hooks/useGithub.test.ts
Owners: @qa-team

Add public-samples/detection-engineer---translation-4ce9d6/src/web/__tests__/pages/BatchTranslation.test.tsx
  src/web/__tests__/pages/BatchTranslation.test.tsx
Owners: @qa-team

Add public-samples/detection-engineer---translation-4ce9d6/src/web/__tests__/pages/Dashboard.test.tsx
  src/web/__tests__/pages/Dashboard.test.tsx
Owners: @qa-team

Add public-samples/detection-engineer---translation-4ce9d6/src/web/__tests__/pages/SingleTranslation.test.tsx
  src/web/__tests__/pages/SingleTranslation.test.tsx
Owners: @qa-team

Add public-samples/detection-engineer---translation-4ce9d6/src/web/__tests__/services/api.test.ts
  src/web/__tests__/services/api.test.ts
Owners: @qa-team

Add public-samples/detection-engineer---translation-4ce9d6/src/web/__tests__/services/auth.test.ts
  src/web/__tests__/services/auth.test.ts
Owners: @qa-team

Add public-samples/detection-engineer---translation-4ce9d6/src/web/__tests__/services/detection.test.ts
  src/web/__tests__/services/detection.test.ts
Owners: @qa-team

Add public-samples/detection-engineer---translation-4ce9d6/src/web/__tests__/store/authSlice.test.ts
  src/web/__tests__/store/authSlice.test.ts
Owners: @qa-team

Add public-samples/detection-engineer---translation-4ce9d6/src/web/__tests__/store/detectionSlice.test.ts
  src/web/__tests__/store/detectionSlice.test.ts
Owners: @qa-team

Add public-samples/detection-engineer---translation-4ce9d6/src/web/__tests__/store/translationSlice.test.ts
  src/web/__tests__/store/translationSlice.test.ts
Owners: @qa-team

Add public-samples/detection-engineer---translation-4ce9d6/src/web/__tests__/utils/api.test.ts
  src/web/__tests__/utils/api.test.ts
Owners: @qa-team

Add public-samples/detection-engineer---translation-4ce9d6/src/web/__tests__/utils/detection.test.ts
  src/web/__tests__/utils/detection.test.ts
Owners: @qa-team

Add public-samples/detection-engineer---translation-4ce9d6/src/web/__tests__/utils/validation.test.ts
  src/web/__tests__/utils/validation.test.ts
Owners: @qa-team

Add public-samples/detection-engineer---translation-4ce9d6/src/web/src/App.tsx
  src/web/src/App.tsx
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/src/web/src/main.tsx
  src/web/src/main.tsx
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/src/web/src/vite-env.d.ts
  src/web/src/vite-env.d.ts
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/src/web/src/assets/fonts/index.ts
  src/web/src/assets/fonts/index.ts
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/src/web/src/assets/icons/index.ts
  src/web/src/assets/icons/index.ts
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/src/web/src/assets/images/index.ts
  src/web/src/assets/images/index.ts
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/src/web/src/components/auth/LoginForm.tsx
  src/web/src/components/auth/LoginForm.tsx
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/src/web/src/components/auth/ProtectedRoute.tsx
  src/web/src/components/auth/ProtectedRoute.tsx
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/src/web/src/components/common/Button.tsx
  src/web/src/components/common/Button.tsx
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/src/web/src/components/common/Card.tsx
  src/web/src/components/common/Card.tsx
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/src/web/src/components/common/Dropdown.tsx
  src/web/src/components/common/Dropdown.tsx
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/src/web/src/components/common/ErrorBoundary.tsx
  src/web/src/components/common/ErrorBoundary.tsx
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/src/web/src/components/common/FileUpload.tsx
  src/web/src/components/common/FileUpload.tsx
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/src/web/src/components/common/Icon.tsx
  src/web/src/components/common/Icon.tsx
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/src/web/src/components/common/Layout.tsx
  src/web/src/components/common/Layout.tsx
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/src/web/src/components/common/Loading.tsx
  src/web/src/components/common/Loading.tsx
Owners: @platform-team
