Repository robertfly/detection-engineer---translation-4ce9d6, changes with the owners that .github/CODEOWNERS names for each.
All owners: @platform-team, @security-team, @backend-team, @ml-team, @frontend-team, @qa-team

.github/CODEOWNERS:

* @platform-team

# GitHub configuration and workflow files
.github/* @platform-team @security-team

# Backend Services
src/backend/api-gateway/* @backend-team @security-team
src/backend/translation-service/* @ml-team @backend-team
src/backend/validation-service/* @backend-team @security-team

# Frontend Application
src/web/* @frontend-team

# Infrastructure and Deployment
infrastructure/* @platform-team @security-team
infrastructure/kubernetes/security/* @security-team

# Docker configurations
**/Dockerfile* @platform-team

# Terraform configurations
**/*.tf @platform-team

# Test files
**/*.test.* @qa-team

# Security-related configurations
**/security.* @security-team

Add public-samples/detection-engineer---translation-4ce9d6/.github/dependabot.yml
  .github/dependabot.yml
Owners: @platform-team, @security-team

Add public-samples/detection-engineer---translation-4ce9d6/.github/pull_request_template.md
  .github/pull_request_template.md
Owners: @platform-team, @security-team

Add public-samples/detection-engineer---translation-4ce9d6/.github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/.github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/.github/workflows/cd.yml
  .github/workflows/cd.yml
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/.github/workflows/ci.yml
  .github/workflows/ci.yml
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/.github/workflows/security-scan.yml
  .github/workflows/security-scan.yml
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/documentation/Input Prompt.md
  documentation/Input Prompt.md
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/documentation/Product Requirements Document (PRD).md
  documentation/Product Requirements Document (PRD).md
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/documentation/Project Guide.md
  documentation/Project Guide.md
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/documentation/Technical Specifications.md
  documentation/Technical Specifications.md
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/infrastructure/kubernetes/apps/api-gateway.yaml
  infrastructure/kubernetes/apps/api-gateway.yaml
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/infrastructure/kubernetes/apps/hpa.yaml
  infrastructure/kubernetes/apps/hpa.yaml
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/infrastructure/kubernetes/apps/mongodb.yaml
  infrastructure/kubernetes/apps/mongodb.yaml
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/infrastructure/kubernetes/apps/pdb.yaml
  infrastructure/kubernetes/apps/pdb.yaml
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/infrastructure/kubernetes/apps/rabbitmq.yaml
  infrastructure/kubernetes/apps/rabbitmq.yaml
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/infrastructure/kubernetes/apps/redis.yaml
  infrastructure/kubernetes/apps/redis.yaml
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/infrastructure/kubernetes/apps/translation-service.yaml
  infrastructure/kubernetes/apps/translation-service.yaml
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/infrastructure/kubernetes/apps/validation-service.yaml
  infrastructure/kubernetes/apps/validation-service.yaml
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/infrastructure/kubernetes/apps/web.yaml
  infrastructure/kubernetes/apps/web.yaml
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/infrastructure/kubernetes/argocd/application.yaml
  infrastructure/kubernetes/argocd/application.yaml
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/infrastructure/kubernetes/argocd/project.yaml
  infrastructure/kubernetes/argocd/project.yaml
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/infrastructure/kubernetes/base/configmap.yaml
  infrastructure/kubernetes/base/configmap.yaml
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/infrastructure/kubernetes/base/ingress.yaml
  infrastructure/kubernetes/base/ingress.yaml
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/infrastructure/kubernetes/base/namespace.yaml
  infrastructure/kubernetes/base/namespace.yaml
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/infrastructure/kubernetes/base/secret.yaml
  infrastructure/kubernetes/base/secret.yaml
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/infrastructure/kubernetes/base/serviceaccount.yaml
  infrastructure/kubernetes/base/serviceaccount.yaml
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/infrastructure/kubernetes/cert-manager/certificate.yaml
  infrastructure/kubernetes/cert-manager/certificate.yaml
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/infrastructure/kubernetes/cert-manager/issuer.yaml
  infrastructure/kubernetes/cert-manager/issuer.yaml
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/infrastructure/kubernetes/istio/authorizationpolicy.yaml
  infrastructure/kubernetes/istio/authorizationpolicy.yaml
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/infrastructure/kubernetes/istio/destinationrule.yaml
  infrastructure/kubernetes/istio/destinationrule.yaml
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/infrastructure/kubernetes/istio/gateway.yaml
  infrastructure/kubernetes/istio/gateway.yaml
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/infrastructure/kubernetes/istio/virtualservice.yaml
  infrastructure/kubernetes/istio/virtualservice.yaml
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/infrastructure/kubernetes/monitoring/elk.yaml
  infrastructure/kubernetes/monitoring/elk.yaml
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/infrastructure/kubernetes/monitoring/grafana.yaml
  infrastructure/kubernetes/monitoring/grafana.yaml
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/infrastructure/kubernetes/monitoring/jaeger.yaml
  infrastructure/kubernetes/monitoring/jaeger.yaml
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/infrastructure/kubernetes/monitoring/prometheus.yaml
  infrastructure/kubernetes/monitoring/prometheus.yaml
Owners: @platform-team

Add public-samples/detection-engineer---translation-4ce9d6/infrastructure/kubernetes/security/networkpolicy.yaml
  infrastructure/kubernetes/security/networkpolicy.yaml
Owners: @security-team

Add public-samples/detection-engineer---translation-4ce9d6/infrastructure/kubernetes/security/podsecuritypolicy.yaml
  infrastructure/kubernetes/security/podsecuritypolicy.yaml
Owners: @security-team

Add public-samples/detection-engineer---translation-4ce9d6/infrastructure/kubernetes/security/rbac.yaml
  infrastructure/kubernetes/security/rbac.yaml
Owners: @security-team
